<style type="text/css">
  .autohide {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 1030;
  }

  .scrolled-down {
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
  }

  .scrolled-up {
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
  }
</style>
<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function () {

    el_autohide = document.querySelector('.autohide');

    // add padding-top to bady (if necessary)
    navbar_height = document.querySelector('.navbar').offsetHeight;
    document.body.style.paddingTop = navbar_height + 'px';

    if (el_autohide) {

      var last_scroll_top = 0;
      window.addEventListener('scroll', function () {
        let scroll_top = window.scrollY;
        if (scroll_top < last_scroll_top) {
          el_autohide.classList.remove('scrolled-down');
          el_autohide.classList.add('scrolled-up');
        } else {
          el_autohide.classList.remove('scrolled-up');
          el_autohide.classList.add('scrolled-down');
        }
        last_scroll_top = scroll_top;

      });
      // window.addEventListener

    }
    // if

  });
  // DOMContentLoaded  end
</script>
<header>
  <nav class="autohide navbar navbar-expand-md bg-white border-bottom">
    <div class="container-fluid">
      <a class="navbar-brand text-primary" href="/"><span
          style="font-family:Harlow Solid Italic;font-size:25px;">VunjaBei</span></a>
      <button class="navbar-toggler btn-outline-primary" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
          </svg></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0 nav-pills">
          <li class="nav-item">
            <a class="nav-link text-center {% if request.resolver_match.url_name == 'home' %}{% endif %}"
              href="{% url 'home' %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-house-door" viewBox="0 0 16 16">
                <path
                  d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z" />
              </svg></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-center {% if request.resolver_match.url_name == 'collections' %}{% endif %}"
              href="{% url 'collections' %}">Collections</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-center {% if request.resolver_match.url_name == 'contact' %}{% endif %}"
              href="{% url 'contact' %}">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-center {% if request.resolver_match.url_name == 'about' %}{% endif %}"
              href="{% url 'about' %}">About Us</a>
          </li>
        </ul>
        {% comment %} <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
        </form> {% endcomment %}
        <form action="{% url 'searchproduct' %}" method="POST" class="d-flex search-bar">
          {% csrf_token %}
          <input class="form-control me-2 " name="productsearch" id="searchproducts" required type="search"
            placeholder="Search" aria-label="Search">
          <button class="btn btn-primary" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
              fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
              <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
            </svg></button>
        </form>
        <div class="float-start mt-1 mx-auto">
          <a type="button" role="button" href="{% url 'cart' %}"
            class="btn btn-outline-primary {% if request.resolver_match.url_name == 'cart' %}active{% endif %}">

            {% with total_qty=cart|length %}
            
              {% if total_qty > 0 %}
              <div class="d-inline-flex" id="cart-qty">
              {{ total_qty }}
            </div>
              {% else %}
              {% endif %}
            
             {% endwith %}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart3"
              viewBox="0 0 16 16">
              <path
                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
            </svg>

          </a>
          <a type="button" role="button" href="{% url 'wishlist' %}"
            class="btn btn-outline-primary {% if request.resolver_match.url_name == 'wishlist' %}active{% endif %}">
            {% with total_qty=wishlist|length %}
            
              {% if total_qty > 0 %}
              <div class="d-inline-flex" id="wish-qty">
              {{ total_qty }}
            </div>
              {% else %}
              {% endif %}
            
            {% endwith %}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart"
              viewBox="0 0 16 16">
              <path
                d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
            </svg>
          </a>
        </div>
        {% if request.user.is_authenticated %}
        <div class="flex-shrink-0 dropdown float-end mt-1">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
            data-bs-toggle="dropdown" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-person-circle text-primary" viewBox="0 0 16 16">
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
              <path fill-rule="evenodd"
                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
            </svg>
            {{request.user}}
          </a>
          <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
            <li><a class="dropdown-item" href="{% url 'myorders' %}">My Orders</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="{% url 'logoutpage' %}">Logout</a></li>
          </ul>
        </div>
        {% else %}
        <div class="float-end mt-1">
          <a type="button" class="btn btn-outline-primary me-2" href="{% url 'loginpage' %}">Login</a>
          <a type="button" class="btn btn-primary" href="{% url 'register' %}">Register</a>
        </div>
        {% endif %}
      </div>
    </div>
  </nav>
</header>