{% load static %}

<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
  {% if request.user.is_authenticated %}
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
      aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">

    <div class="carousel-item active">
      <img src="{% static 'images/bg2.jpg' %}" class="d-block w-100" alt="...">

      <div class="container">
        <div class="carousel-caption text-end">
          <h1 style="font-family:impact;font-size:100px;">Basketball Jerseys</h1>
          <p></p>
          <p><a class="btn btn-lg btn-light text-primary" href="{% url 'collections' %}">Shop Now</a></p>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <img src="{% static 'images/bg3.jpg' %}" class="d-block w-100" alt="...">

      <div class="container">
        <div class="carousel-caption text-end">
          <h1 style="font-family:impact;font-size:100px;">Football Jerseys</h1>
          <p></p>
          <p><a class="btn btn-lg btn-light text-primary" href="{% url 'collections' %}">Shop Now</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/bg.jpg' %}" class="d-block w-100" alt="...">

      <div class="container">
        <div class="carousel-caption">
          <h1 style="font-family:Harlow Solid Italic;font-size:100px;">Vunjabei</h1>
          <p>Vunjabei (T) Group Limited is a Tanzanian Limited Company dealing with the supply and distribution of casual, official and sports apparel and its merchandise for adults, teenagers and children.</p>
          <p><a class="btn btn-lg btn-light text-primary" href="{% url 'about' %}">Learn more</a></p>
        </div>
      </div>
    </div>
    {% else %}
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
        aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'images/bg.jpg' %}" class="d-block w-100" alt="...">

      <div class="container">
        <div class="carousel-caption text-start">
          <h1 style="font-family:impact;font-size:100px;">Welcome</h1>
          <p>Vunjabei (T) Group Limited</p>
          <p><a class="btn btn-lg btn-light text-primary" href="{% url 'register' %}">Sign up today</a></p>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <img src="{% static 'images/bg2.jpg' %}" class="d-block w-100" alt="...">

      <div class="container">
        <div class="carousel-caption text-end">
          <h1 style="font-family:impact;font-size:100px;">Basketball Jerseys</h1>
          <p></p>
          <p><a class="btn btn-lg btn-light text-primary" href="{% url 'collections' %}">Shop Now</a></p>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <img src="{% static 'images/bg3.jpg' %}" class="d-block w-100" alt="...">

      <div class="container">
        <div class="carousel-caption text-end">
          <h1 style="font-family:impact;font-size:100px;">Football Jerseys</h1>
          <p></p>
          <p><a class="btn btn-lg btn-light text-primary" href="{% url 'collections' %}">Shop Now</a></p>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <img src="{% static 'images/bg.jpg' %}" class="d-block w-100" alt="...">

      <div class="container">
        <div class="carousel-caption">
          <h1 style="font-family:Harlow Solid Italic;font-size:100px;">Vunjabei</h1>
          <p>Vunjabei (T) Group Limited is a Tanzanian Limited Company dealing with the supply and distribution of casual, official and sports apparel and its merchandise for adults, teenagers and children.</p>
          <p><a class="btn btn-lg btn-light text-primary" href="{% url 'about' %}">Learn more</a></p>
        </div>
      </div>
    </div>
    {% endif %}
    


    


  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>