
{% extends 'store/layouts/main.html' %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="">
                <div class="card mt-3 shadow">
                    <div class="card-body">
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="text-center">
                                <svg class="mb-4 text-primary" xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor" class="bi bi-person-fill " viewBox="0 0 16 16">
                                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                  </svg>
                                  
                            </div>
                            <div class="form-floating">
                                
                                <input type="text" class="form-control" name="username" placeholder="Enter username">
                                <label for="" class="text-muted">Username</label>
                            </div>
                            <div class="form-floating mt-2">
                                
                                <input type="password" class="form-control" name="password" placeholder="Enter password">
                                <label for="" class="text-muted">Password</label>
                            </div>
                            {% comment %} <div class="checkbox mb-3">
                                <label>
                                  <input type="checkbox" value="remember-me"> Remember me
                                </label>
                              </div> {% endcomment %}
                            <button type="submit" class="btn w-100 btn btn-lg shadow btn-primary mt-2">Sign in</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}