{% extends 'store/layouts/main.html' %}

{% block content %}

<div class="py-1" style="background-color:#adb5bd;">
    <div class="container">
        <a class="text-white" href="{% url 'home' %}">Home / </a>
        <a class="text-white" href="{% url 'about' %}">About </a>
    </div>
</div>

<div class="py-5" style="font-family: 'Roboto', sans-serif;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card shadow product_data">
                    <div class="card-header bg-primary">
                        <h1 class="text-center text-white" style="font-family:Harlow Solid Italic;font-size:100px;">VunjaBei</h1>
                    </div>
                    <div class="card-body">

                        <h1 class="text-center">The Company</h1>
                        <br />
                        <div class="" style="font-weight:bold;font-size:18px">
                            Vunjabei (T) Group Limited is a Tanzanian Limited Company dealing with the supply and
                            distribution of casual, official and sports apparel and its merchandise for adults,
                            teenagers and children. Formerly it was run by a sole proprietor, Mr. Fred Fabian Ngajiro
                            from year 2016 and thereafter incorporated under the company’s Act of 2002, on 20th of
                            September, 2018.
                        </div>
                        <br />
                        <div style="font-size:15px">
                            Vunjabei (T) Group Limited has more than fifteen (15) stores across Tanzania regions and its
                            headquarter is Located at Sinza madukani-Ubungo in Dar es salaam.
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-6">
                                <h5 style="margin-left:100px;">Our Mission</h5>
                            </div>
                            <div class="col-md-6">
                                <p class="text-primary" style="margin-right:100px;">To offer quality apparel at
                                    affordable prices to men, women, teenagers and children.</p>
                                    <hr>
                            </div>
                            <div class="col-md-6">
                                <h5 style="margin-left:100px;">Our Vision</h5>
                            </div>
                            <div class="col-md-6">
                                <p class="text-primary" style="margin-right:100px;">To be the leading and fastest
                                    providers of quality and affordable apparel.</p>
                            </div>
                            <br/>
                            <h1 class="text-center">Core Values</h1>
                            <br/>
                            <div class="row">
                                <div class="col-md-6">
                                    <h5 style="margin-left:100px;">Affordability</h5>
                                </div>
                                <div class="col-md-6">
                                    <p class="text-primary" style="margin-right:100px;">To ensure the customers are
                                        provided with reasonably priced goods and services.
                                    </p>
                                    <hr>
                                </div>
                                <div class="col-md-6">
                                    <h5 style="margin-left:100px;">Quality</h5>
                                </div>
                                <div class="col-md-6">
                                    <p class="text-primary" style="margin-right:100px;">The market we save needs high
                                        standard goods and services, that makes quality to be a focus of what we always
                                        dream and do.
                                    </p>
                                    <hr>
                                </div>
                                <div class="col-md-6">
                                    <h5 style="margin-left:100px;">Quantity</h5>
                                </div>
                                <div class="col-md-6">
                                    <p class="text-primary" style="margin-right:100px;">How much and how we deliver to
                                        our customers timely and in any quantity is our crucial and primary focus.
                                    </p>
                                    <hr>
                                </div>
                                <div class="col-md-6">
                                    <h5 style="margin-left:100px;">Creativity</h5>
                                </div>
                                <div class="col-md-6">
                                    <p class="text-primary" style="margin-right:100px;">When our customers look for the
                                        new possibilities and designs, we ensure they always think about us.
                                    </p>
                                    <hr>
                                </div>
                                <div class="col-md-6">
                                    <h5 style="margin-left:100px;">Trustworthiness</h5>
                                </div>
                                <div class="col-md-6">
                                    <p class="text-primary" style="margin-right:100px;">We carry our activities by a
                                        total belief in the reliability, truth and being accountable to our customers.
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            {% endblock content %}