{% extends 'store/layouts/main.html' %}

{% block content %}
{% include 'store/inc/slider.html' %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center text-primary mt-3 mb-3" style="font-family: impact;">TRENDING PRODUCTS</h1>
            <br />
            <div class="row owl-carousel owl-theme">
                {% for item in trending_products %}
                <div class="product_data item">
                    <div class="card">
                        <div class="card-body">
                            <a href="{% url 'productview' item.category.slug item.slug item.id %}">
                                <div class="category-image">
                                    <img src="{{item.prodyct_image.url}}" alt="product image" class="w-100" />
                                </div>
                                <h4 class="text-center">{{item.name}}</h4>
                            </a>
                            <span class="float-start text-danger"><s>{{item.original_price}} $</s></span>
                            <span class="float-end text-success">{{item.selling_price}} $</span>
                            <br>
                            <div class="row mt-2">
                                <div class="col-md-6 ">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{item.id}}" class="prod_id">
                                    {% comment %} <label for="Quantity">Quantity</label> {% endcomment %}
                                    <div class="input-group text-center mb-3">
                                        <button class="input-group-text decrement-btn">-</button>
                                        <input type="text" name="quantity" class="form-control qty-input text-center"
                                            value="1">
                                        <button class="input-group-text increment-btn">+</button>
                                    </div>
                                </div>
                                <div class="col-md-6 px-2">
                                    <span class="mb-2">
                                        {% if item.quantity > 0 %}
                                        <button type="button" class="btn btn-primary btn-sm me-3 py-2 addToCartBtn"><svg
                                                xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                                                <path
                                                    d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                            </svg></button>
                                        {% else %}
                                        <button type="button" class="btn btn-danger btn-sm me-3 disabled">Out of
                                            stock</button>
                                        {% endif %}
                                        <button type="button"
                                            class="btn btn-danger btn-sm me-3 py-2 addToWishlist"><svg
                                                xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                                <path
                                                    d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                                            </svg></i></button>
                                    </span>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center text-primary mt-3 mb-3" style="font-family: impact;">ALL PRODUCTS</h1>
            <br />
            <div class="row">
                {% for item in products %}
                <div class="col-md-3 mb-3 product_data item">
                    <div class="card">

                        <div class="card-body">
                            <a href="{% url 'productview' item.category.slug item.slug item.id %}">
                                <div class="category-image">
                                    <img src="{{item.prodyct_image.url}}" alt="product image" class="w-100" />
                                </div>

                                <h4 class="text-center">{{item.name}}</h4>
                            </a>
                            <span class="text-danger float-start"><s>{{item.original_price}} $</s></span>
                            <span class="text-success float-end">{{item.selling_price}} $</span>
                            <br>
                            <div class="row mt-2">
                                <div class="col-md-6">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{item.id}}" class="prod_id">
                                    {% comment %} <label for="Quantity">Quantity</label> {% endcomment %}
                                    <div class="input-group text-center mb-3">
                                        <button class="input-group-text decrement-btn">-</button>
                                        <input type="text" name="quantity" class="form-control qty-input text-center"
                                            value="1">
                                        <button class="input-group-text increment-btn">+</button>
                                    </div>
                                </div>
                                <div class="col-md-6 px-2">
                                    <span class="mb-2">
                                        {% if item.quantity > 0 %}
                                        <button type="button" class="btn btn-primary btn-sm me-3 py-2 addToCartBtn"><svg
                                                xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                                                <path
                                                    d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                            </svg></button>
                                        {% else %}
                                        <button type="button" class="btn btn-danger btn-sm me-3 disabled">Out of
                                            stock</button>
                                        {% endif %}
                                        <button type="button"
                                            class="btn btn-danger btn-sm me-3 py-2 addToWishlist"><svg
                                                xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                                <path
                                                    d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                                            </svg></i></button>
                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endblock content %}

    {% block scripts %}
    <script>
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            dots: false,
            nav: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 4
                }
            }
        })
    </script>
    {% endblock scripts %}